<h2>v0.5.19</h2>
<ul>
    <li>Removed Beluga Whale from Orca spawn pool.</li>
</ul>

<h2>v0.5.18</h2>
<ul>
    <li>Fixed bug with Friend Ahead Attacks ability pets not triggering when fainting. (Thanks tibby)</li>
</ul>

<h2>v0.5.17</h2>
<ul>
    <li>Fixed bug that required running simulation on export.</li>
    <li>Fixed bug with ailment overwritting faint food while pet faints breaking simulation.</li>
    <li>Added "Token Pets" option.</li>
    <li>Added confirmation window to Reset and Randomize buttons.</li>
</ul>

<h2>v0.5.16</h2>
<ul>
    <li>Fixed bug with Beluga Whale pet not spawning. (Thanks goose)</li>
    <li>Fixed bug with Chocolate Cake not triggering Knocked Out abilities.</li>
    <li>Fixed bug with Cherry/Fig triggering multiple times after running multiple simulations.</li>
</ul>

<h2>v0.5.15</h2>
<ul>
    <li>Updated to SAP Version 0.31.9-145 BETA</li>
    <ul>
        <li>Added Pigeon, Hare.</li>
        <li>Changed Cricket, Mouse Nest, Robin, Tabby Cat, Dog, Dolphin, Flying Squirrel, Hatching Chick, Owl, Ox, Raccoon, Cockatoo, Mosasaurus, Tyrannosaurus.</li>
        <li>Added Fig.</li>
        <li>Changed Cherry.</li>
    </ul>
</ul>

<h2>v0.5.14</h2>
<ul>
    <li>Bug Report System.</li>
</ul>

<h2>v0.5.13</h2>
<ul>
    <li>Fixed bug with Opponent Empty Front Space events not triggering. (Thanks jer.re)</li>
</ul>

<h2>v0.5.12</h2>
<ul>
    <li>Pug is tier 3.</li>
    <li>Siberian Husky spelling fix.</li>
    <li>Fixed Kiwi not availble on Star pack. (Thanks Grounded)</li>
</ul>

<h2>v0.5.11</h2>
<ul>
    <li>Opossum is spelled correctly.</li>
</ul>

<h2>v0.5.10</h2>
<ul>
    <li>Buff pets do not target 50/50 friends.</li>
</ul>

<h2>v0.5.9</h2>
<ul>
    <li>Fixed Rhino base stats.</li>
    <li>Fixed bug with Tiger behind Hurt pet. (Thanks Freetz).</li>
    <li>Reset button resets Equipment.</li>
    <li>Fixed bugs with export/import.</li>
</ul>

<h2>v0.5.8</h2>
<ul>
    <li>Fixed bug where Zombie Flies sometimes would spawn in the wrong position. (Thanks Grounded)</li>
</ul>
<h2>v0.5.7</h2>
<ul>
    <li>Added Pineapple.</li>
</ul>
<h2>v0.5.6</h2>
<ul>
    <li>Fixed bug with Turtle always behaving as a level 1.</li>
</ul>

<h2>v0.5.5</h2>
<ul>
    <li>Fixed bug with Pancakes pet getting all of the stats. (Thanks Grounded)</li>
</ul>

<h2>v0.5.4</h2>
<ul>
    <li>Calculator is (more) usable on mobile devices.</li>
</ul>

<h2>v0.5.3</h2>
<ul>
    <li>Added Reset buttons for the Player and Opponent.</li>
    <li>Export/Import Calculator.</li>
    <li>Added "Old Stork" mode.</li>
    <li>Fixed spawn bug sometimes duplicating pets when up against Royal Flycatcher. (Thanks Freetz)</li>
    <li>Fixed bug with pets having Friend Summoned abilities hitting themselves when summoned with a mushroom.</li>
    <li>Fixed bug with Pteradon's ability triggering if it also faints.</li>
</ul>

<h2>v0.5.2</h2>
<ul>
    <li>Import Custom Packs</li>
    <li>Custom Pack editor improvments.</li>
</ul>

<h2>v0.5.1</h2>
<ul>
    <li>Added remaining custom pack pets.</li>
    <ul>
        <li>Frilled Dragon, Wombat, Aardvark, Bear, Emperor Tamerain, Procupine, Wasp Dragonfly, Lynx, Seagull, Alpaca, Hyena, Moose, Lioness, Tapir, Walrus, White Tiger</li>
    </ul>
    <li>Added remaining custom pack food.</li>
    <ul>
        <li>Blueberry, Donut</li>
    </ul>
    <li>Fixed bug with blobfish showing as tier 3. (Thanks Freetz)</li>
    <li>Fixed bug with eggplant triggering multiple times when running the simulation multiple times. (Thanks Freetz)</li>
    <li>Fixed bug with mosquito able to target the same pet.</li>
</ul>

<h2>v0.5.0</h2>
<ul>
    <li>Added custom packs!</li>
    <li>Added Jerboa</li>
    <li>Added Fortune Cookie</li>
</ul>

<h2>v0.4.16</h2>
<ul>
    <li>Updated to SAP Version 0.30.6-138 BETA</li>
    <ul>
        <li>
            Updated stats/abilities of these pets: Whale, Frog, Iguana, Marmoset, Mouse, Koala, Panda, Shrimp, Tabby Cat, Camel, Eel, Giraffe, Musk Ox,
            Owl, Ox, Starfish, Anteater, Chameleon, Egyptian Vulture, Manta Ray, Platypus, Cockatoo, Crane, Monkey, Shark, Piranha, Sabertooth Tiger.
        </li>
        <li>
            Added Durian.
        </li>
    </ul>
</ul>

<h2>v0.4.15</h2>
<ul>
    <li>Fixed bug with Eggplant triggering too many times. (Thanks Freetz)</li>
</ul>

<h2>v0.4.14</h2>
<ul>
    <li>Fixed rounding error with Skunk ability/Stinky Sock.</li>
    <li>Fixed faint pets ability being the level of the whale when swallowed. (Thanks kutarba)</li>
</ul>

<h2>v0.4.13</h2>
<ul>
    <li>Fixed Pteradon</li>
</ul>

<h2>v0.4.12</h2>
<ul>
    <li>Updated to SAP Version 0.29.6-135 BETA</li>
    <ul>
        <li>Updated stats/abilities of these pets: Ladybug, Atlantic Puffin, Guinea Pig, Hedgehog, Jellyfish, Pug, Salamander, Toucan, Blobfish, Clownfish, Flea, Flying Fish, Mole, Chameleon, Eel, Hippo, Poison Dart Frog,
            Whale, Fire Ant, Fox, Turkey, Lionfish, Pteradon, Tyrannosaurus.
    </ul>
</ul>

<h2>v0.4.11</h2>
<ul>
    <li>Fixed bug with Tiger not triggering Leopard when there are few enemies. (Thanks /u/MHolmesSC)</li>
    <li>Fixed bug with Ant over buffing units on faint. (Thanks /u/MHolmesSC)</li>
    <li>Fixed bug with Spider behaving odd. (Thanks /u/-RARO-)</li>ng
</ul>

<h2>v0.4.10</h2>
<ul>
    <li>Fixed bug with Fly not spawning Zombie Fly from Start of Battle abilities fainting pets. (Thanks /u/Danielmac757)</li>
</ul>

<h2>v0.4.9</h2>
<ul>
    <li>Info/Guide modal.</li>
</ul>

<h2>v0.4.8</h2>
<ul>
    <li>Fixed a bug with Fly attempting to spawn Zombie Fly when there is no room.</li>
</ul>

<h2>v0.4.7</h2>
<ul>
    <li>Updated to SAP Version 0.28.20-130 BETA</li>
    <ul>
        <li>Changed pets so they all move forward after start of battle abilities.</li>
    </ul>
</ul>

<h2>v0.4.6</h2>
<ul>
    <li>Fixed a bug with mushroom breaking the simulation by breaking the cache process. (Thanks BeastiaVenator)</li>
    <li>Fixed a bug with loading equipment from the browser cache.</li>
</ul>

<h2>v0.4.5</h2>
<ul>
    <li>Drag and Drop!</li>
</ul>

<h2>v0.4.4</h2>
<ul>
    <li>Fixed a handful of Tiger bugs causing infinite loops.</li>
    <li>Fixed a bug with typing select options.</li>
</ul>

<h2>v0.4.3</h2>
<ul>
    <li>Duplicate pet option hotfix.</li>
</ul>

<h2>v0.4.2</h2>
<ul>
    <li>Calculator state saves on 'Simulate'.</li>
    <ul>
        <li>This is stored in the browser cache. You can clear the cache by clicking on the link on the bottom of this modal.</li>
    </ul>
    <li>Fixed bugs with Angler mode toggling.</li>
    <li>Zoom In/Out feature.</li>
    <li>Fixed bug with Fly triggering twice instead of three times. (Thanks nob)</li>
    <li>Fixed bug with some snipe pets having no targets breaking simulation.</li>
</ul>

<h2>v0.4.1</h2>
<ul>
    <li>Fixed a bug where Shark would gain attack/health on its own death. (Thanks mumf)</li>
    <li>Fixed a bug where attack bonus food would affect snipes. (Thanks Tangl)</li>
</ul>
