<h2>v0.6.12</h2>
<ul>
    <li>Fixed bug with Parrot chaining when front Parrot has lower attack. (Thanks jer.re)</li>
    <li>Fixed bug with level 1 Crab having 0 health when copying health of pet with 1 health. (Thanks Freetz)</li>
</ul>
<h2>v0.6.11</h2>
<ul>
    <li>Fixed bug with spawn perks having unpredictable spawn locations. (Thanks Tangl and Wombat)</li>
    <li>Fixed bug with Parrot chaining. (Thanks Tangl)</li>
    <li>Fixed bug with Fig (and probably other perks) not working with Parrot.</li>
</ul>
<h2>v0.6.10</h2>
<ul>
    <li>Fixed bug on Import Calculator where importing an empty slot would cause pets from previous calculator to persist. (Thanks jer.re and Freetz)</li>
    <li>Fixed Pandoras Box</li>
    <ul>
        <li>Removed perks available according to here: https://superautopets.wiki.gg/wiki/Pandoras_Box</li>
        <li>Pandoras Box has a 50% chance to give an ailment. If this is incorrect direct hate towards Cheese from SAP Dojo.</li>
    </ul>
</ul>

<h2>v0.6.9</h2>
<ul>
    <li>Fixed more tiger interactions breaking calculator. (Thanks tibby)</li>
</ul>
<h2>v0.6.8</h2>
<ul>
    <li>Added Export Calculator modal.</li>
    <li>Fixed bug with Dodo not changing Start of Battle priorities in battle. (Thanks Plkess and CrocsAreNice)</li>
    <li>Fixed bug with Armadillo not giving itself health.</li>
    <li>Fixed Salmon of Knowledge giving itself experience. (Thanks Wombat)</li>
    <li>Added Unicorn Pack to custom pack editor. (Thanks Rake News)</li>
    <li>Changed priorty order of knock out and pet ahead faints abilities - fixes Rhino/Ox interaction. (Thanks Mazl0w)</li>
</ul>

<h2>v0.6.7</h2>
<ul>
    <li>Fixed bug with Tiger sometimes using the wrong level. (Thanks hop)</li>
</ul>

<h2>v0.6.6</h2>
<ul>
    <li>Fixed bug with parrot. (Thanks hop)</li>
    <li>Fixed bug with Crisp always doing 6 damage. (Thanks Kutarba)</li>
</ul>
<h2>v0.6.5</h2>
<ul>
    <li>Fixed Anubis feint abilities happening before other start of battle abilities. (Thanks Grounded)</li>
    <li>Fixed Roc. (Thanks Grounded)</li>
    <li>Fixed mana snipe going off after Kitsune removes the mana. (Thanks Grounded)</li>
    <li>Fixed Manticore ability not going off if it feints. (Thanks goose)</li>
    <li>Fixed issue with Calygreyhound and there being only one pet left. (Thanks MAi.k)</li>
    <li>Fixed issue with Slepnir not targeting correctly. (Thanks goose)</li>
    <li>Max mana is now 50. (Thanks goose)</li>
    <li>Fixed potato.</li>
    <li>Fixed issue with Pteradon not summoning behind itself in some cases.</li>
    <li>Fixed Snake + Tiger bug. (Thanks mumf)</li>
</ul>
<h2>v0.6.4</h2>
<ul>
    <li>Fixed order of Friend Faints events so that it triggers after friendly units are summoned. (Thanks Grounded)</li>
    <li>Fixed calculator simulating only once. 🤦‍♂️</li>
</ul>

<h2>v0.6.3</h2>
<ul>
    <li>Added Yggdrasil Fruit (Thanks Vuenc)</li>
    <li>Fixed issue with some pets when spawned having mana. (Thanks Grounded)</li>
</ul>
<h2>v0.6.2</h2>
<ul>
    <li>Fixed Monty's base stats. (Thanks goose)</li>
    <li>Fixed Visitor's (and Bear's) ability not targeting ahead friendly units. (Thanks goose)</li>
    <li>Fixed bug where Tiger fainting before Start of Battle abilities did not triger the Tiger's ability. (Thanks goose)</li>
    <li>Fixed bug with certain pets having Donut breaking the calculator. (Thanks Freetz)</li>
    <li>Fixed Manticore not working with Crips. (Thanks Freetz)</li>
    <li>Added 'Ailment Equipment' mode.</li>
</ul>

<h2>v0.6.1</h2>
<ul>
    <li>Fixed Roc not targeting Donut pets. (Thanks mewi3977)</li>
    <li>Updated to SAP Version 0.33.3-151 BETA</li>
    <ul>
        <li>Changed Chimera, Nessie, Axehandle Hound, Unicorn, Vampire Bat, Warf, Barghest, Cyclops, Mana Hound, Loveland Frogman, Jersey Devil,
            Tigerbug, Bigfoot, Calygreyhound, Gargoyle, Ghost Kitten, Jackalope, Minotaur, Worm of Sand, Werewolf, Lucky Cat, Ogopogo.
        </li>
        <li>Added Spooked</li>
        <li>Minotaur stacks.</li>
    </ul>
    <li>Added Weak as an equipment option.</li>
    <li>Import pack works with Unicorn pets.</li>
</ul>
<h2>v0.6.0</h2>
<ul>
    <li>Unicorn Pack 🎉</li>
    <li>Updated Info/Guide</li>
</ul>

<h2>v0.5.27</h2>
<ul>
    <li>Fixed bug with Camel's ability logs showing incorrect values.</li>
</ul>

<h2>v0.5.26</h2>
<ul>
    <li>Fixed bugs with drag and drop. (Thanks Agentcore)</li>
</ul>

<h2>v0.5.25</h2>
<ul>
    <li>Fixed some import bugs.</li>
</ul>

<h2>v0.5.24</h2>
<ul>
    <li>Fixed bug with Custom Pack dialog not opening.</li>
</ul>

<h2>v0.5.23</h2>
<ul>
    <li>Fixed bug with importing empty pet slots.</li>
    <li>Fixed bug with pets that Tapir summon being disjointed from its' parent player. (Thanks goose)</li>
</ul>

<h2>v0.5.22</h2>
<ul>
    <li>Fixed Pigeon base stats. (Thanks goose)</li>
    <li>Fixed Crab copying highest health pets stats even after fainting from other start of battle abilities. (Thanks Phoenix)</li>
</ul>

<h2>v0.5.21</h2>
<ul>
    <li>Fixed a few Panther/equipment interactions.</li>
    <ul>
        <li>Tomato (Thanks jer.re), Salt, Cheese, Durian, Egg.</li>
    </ul>
</ul>


<h2>v0.5.20</h2>
<ul>
    <li>Added Komodo Shuffle option.</li>
</ul>

<h2>v0.5.19</h2>
<ul>
    <li>Removed Beluga Whale from Orca spawn pool.</li>
</ul>

<h2>v0.5.18</h2>
<ul>
    <li>Fixed bug with Friend Ahead Attacks ability pets not triggering when fainting. (Thanks tibby)</li>
</ul>

<h2>v0.5.17</h2>
<ul>
    <li>Fixed bug that required running simulation on export.</li>
    <li>Fixed bug with ailment overwritting faint food while pet faints breaking simulation.</li>
    <li>Added "Token Pets" option.</li>
    <li>Added confirmation window to Reset and Randomize buttons.</li>
</ul>

<h2>v0.5.16</h2>
<ul>
    <li>Fixed bug with Beluga Whale pet not spawning. (Thanks goose)</li>
    <li>Fixed bug with Chocolate Cake not triggering Knocked Out abilities.</li>
    <li>Fixed bug with Cherry/Fig triggering multiple times after running multiple simulations.</li>
</ul>

<h2>v0.5.15</h2>
<ul>
    <li>Updated to SAP Version 0.31.9-145 BETA</li>
    <ul>
        <li>Added Pigeon, Hare.</li>
        <li>Changed Cricket, Mouse Nest, Robin, Tabby Cat, Dog, Dolphin, Flying Squirrel, Hatching Chick, Owl, Ox, Raccoon, Cockatoo, Mosasaurus, Tyrannosaurus.</li>
        <li>Added Fig.</li>
        <li>Changed Cherry.</li>
    </ul>
</ul>

<h2>v0.5.14</h2>
<ul>
    <li>Bug Report System.</li>
</ul>

<h2>v0.5.13</h2>
<ul>
    <li>Fixed bug with Opponent Empty Front Space events not triggering. (Thanks jer.re)</li>
</ul>

<h2>v0.5.12</h2>
<ul>
    <li>Pug is tier 3.</li>
    <li>Siberian Husky spelling fix.</li>
    <li>Fixed Kiwi not availble on Star pack. (Thanks Grounded)</li>
</ul>

<h2>v0.5.11</h2>
<ul>
    <li>Opossum is spelled correctly.</li>
</ul>

<h2>v0.5.10</h2>
<ul>
    <li>Buff pets do not target 50/50 friends.</li>
</ul>

<h2>v0.5.9</h2>
<ul>
    <li>Fixed Rhino base stats.</li>
    <li>Fixed bug with Tiger behind Hurt pet. (Thanks Freetz).</li>
    <li>Reset button resets Equipment.</li>
    <li>Fixed bugs with export/import.</li>
</ul>

<h2>v0.5.8</h2>
<ul>
    <li>Fixed bug where Zombie Flies sometimes would spawn in the wrong position. (Thanks Grounded)</li>
</ul>
<h2>v0.5.7</h2>
<ul>
    <li>Added Pineapple.</li>
</ul>
<h2>v0.5.6</h2>
<ul>
    <li>Fixed bug with Turtle always behaving as a level 1.</li>
</ul>

<h2>v0.5.5</h2>
<ul>
    <li>Fixed bug with Pancakes pet getting all of the stats. (Thanks Grounded)</li>
</ul>

<h2>v0.5.4</h2>
<ul>
    <li>Calculator is (more) usable on mobile devices.</li>
</ul>

<h2>v0.5.3</h2>
<ul>
    <li>Added Reset buttons for the Player and Opponent.</li>
    <li>Export/Import Calculator.</li>
    <li>Added "Old Stork" mode.</li>
    <li>Fixed spawn bug sometimes duplicating pets when up against Royal Flycatcher. (Thanks Freetz)</li>
    <li>Fixed bug with pets having Friend Summoned abilities hitting themselves when summoned with a mushroom.</li>
    <li>Fixed bug with Pteradon's ability triggering if it also faints.</li>
</ul>

<h2>v0.5.2</h2>
<ul>
    <li>Import Custom Packs</li>
    <li>Custom Pack editor improvments.</li>
</ul>

<h2>v0.5.1</h2>
<ul>
    <li>Added remaining custom pack pets.</li>
    <ul>
        <li>Frilled Dragon, Wombat, Aardvark, Bear, Emperor Tamerain, Procupine, Wasp Dragonfly, Lynx, Seagull, Alpaca, Hyena, Moose, Lioness, Tapir, Walrus, White Tiger</li>
    </ul>
    <li>Added remaining custom pack food.</li>
    <ul>
        <li>Blueberry, Donut</li>
    </ul>
    <li>Fixed bug with blobfish showing as tier 3. (Thanks Freetz)</li>
    <li>Fixed bug with eggplant triggering multiple times when running the simulation multiple times. (Thanks Freetz)</li>
    <li>Fixed bug with mosquito able to target the same pet.</li>
</ul>

<h2>v0.5.0</h2>
<ul>
    <li>Added custom packs!</li>
    <li>Added Jerboa</li>
    <li>Added Fortune Cookie</li>
</ul>

<h2>v0.4.16</h2>
<ul>
    <li>Updated to SAP Version 0.30.6-138 BETA</li>
    <ul>
        <li>
            Updated stats/abilities of these pets: Whale, Frog, Iguana, Marmoset, Mouse, Koala, Panda, Shrimp, Tabby Cat, Camel, Eel, Giraffe, Musk Ox,
            Owl, Ox, Starfish, Anteater, Chameleon, Egyptian Vulture, Manta Ray, Platypus, Cockatoo, Crane, Monkey, Shark, Piranha, Sabertooth Tiger.
        </li>
        <li>
            Added Durian.
        </li>
    </ul>
</ul>

<h2>v0.4.15</h2>
<ul>
    <li>Fixed bug with Eggplant triggering too many times. (Thanks Freetz)</li>
</ul>

<h2>v0.4.14</h2>
<ul>
    <li>Fixed rounding error with Skunk ability/Stinky Sock.</li>
    <li>Fixed faint pets ability being the level of the whale when swallowed. (Thanks kutarba)</li>
</ul>

<h2>v0.4.13</h2>
<ul>
    <li>Fixed Pteradon</li>
</ul>

<h2>v0.4.12</h2>
<ul>
    <li>Updated to SAP Version 0.29.6-135 BETA</li>
    <ul>
        <li>Updated stats/abilities of these pets: Ladybug, Atlantic Puffin, Guinea Pig, Hedgehog, Jellyfish, Pug, Salamander, Toucan, Blobfish, Clownfish, Flea, Flying Fish, Mole, Chameleon, Eel, Hippo, Poison Dart Frog,
            Whale, Fire Ant, Fox, Turkey, Lionfish, Pteradon, Tyrannosaurus.
    </ul>
</ul>

<h2>v0.4.11</h2>
<ul>
    <li>Fixed bug with Tiger not triggering Leopard when there are few enemies. (Thanks /u/MHolmesSC)</li>
    <li>Fixed bug with Ant over buffing units on faint. (Thanks /u/MHolmesSC)</li>
    <li>Fixed bug with Spider behaving odd. (Thanks /u/-RARO-)</li>ng
</ul>

<h2>v0.4.10</h2>
<ul>
    <li>Fixed bug with Fly not spawning Zombie Fly from Start of Battle abilities fainting pets. (Thanks /u/Danielmac757)</li>
</ul>

<h2>v0.4.9</h2>
<ul>
    <li>Info/Guide modal.</li>
</ul>

<h2>v0.4.8</h2>
<ul>
    <li>Fixed a bug with Fly attempting to spawn Zombie Fly when there is no room.</li>
</ul>

<h2>v0.4.7</h2>
<ul>
    <li>Updated to SAP Version 0.28.20-130 BETA</li>
    <ul>
        <li>Changed pets so they all move forward after start of battle abilities.</li>
    </ul>
</ul>

<h2>v0.4.6</h2>
<ul>
    <li>Fixed a bug with mushroom breaking the simulation by breaking the cache process. (Thanks BeastiaVenator)</li>
    <li>Fixed a bug with loading equipment from the browser cache.</li>
</ul>

<h2>v0.4.5</h2>
<ul>
    <li>Drag and Drop!</li>
</ul>

<h2>v0.4.4</h2>
<ul>
    <li>Fixed a handful of Tiger bugs causing infinite loops.</li>
    <li>Fixed a bug with typing select options.</li>
</ul>

<h2>v0.4.3</h2>
<ul>
    <li>Duplicate pet option hotfix.</li>
</ul>

<h2>v0.4.2</h2>
<ul>
    <li>Calculator state saves on 'Simulate'.</li>
    <ul>
        <li>This is stored in the browser cache. You can clear the cache by clicking on the link on the bottom of this modal.</li>
    </ul>
    <li>Fixed bugs with Angler mode toggling.</li>
    <li>Zoom In/Out feature.</li>
    <li>Fixed bug with Fly triggering twice instead of three times. (Thanks nob)</li>
    <li>Fixed bug with some snipe pets having no targets breaking simulation.</li>
</ul>

<h2>v0.4.1</h2>
<ul>
    <li>Fixed a bug where Shark would gain attack/health on its own death. (Thanks mumf)</li>
    <li>Fixed a bug where attack bonus food would affect snipes. (Thanks Tangl)</li>
</ul>
