<h2>v0.4.1</h2>
<ul>
    <li>Fixed a bug where Shark would gain attack/health on its own death. (Thanks mumf)</li>
    <li>Fixed a bug where attack bonus food would affect snipes. (Thanks Tangl)</li>
</ul>
<h2>v0.4.2</h2>
<ul>
    <li>Calculator state saves on 'Simulate'.</li>
    <ul>
        <li>This is stored in the browser cache. You can clear the cache by clicking on the link on the bottom of this modal.</li>
    </ul>
    <li>Fixed bugs with Angler mode toggling.</li>
    <li>Zoom In/Out feature.</li>
    <li>Fixed bug with Fly triggering twice instead of three times. (Thanks nob)</li>
    <li>Fixed bug with some snipe pets having no targets breaking simulation.</li>
</ul>
<h2>v0.4.3</h2>
<ul>
    <li>Duplicate pet option hotfix.</li>
</ul>
<h2>v0.4.4</h2>
<ul>
    <li>Fixed a handful of Tiger bugs causing infinite loops.</li>
    <li>Fixed a bug with typing select options.</li>
</ul>
<h2>v0.4.5</h2>
<ul>
    <li>Drag and Drop!</li>
</ul>
<h2>v0.4.6</h2>
<ul>
    <li>Fixed a bug with mushroom breaking the simulation by breaking the cache process. (Thanks BeastiaVenator)</li>
    <li>Fixed a bug with loading equipment from the browser cache.</li>
</ul>
<h2>v0.4.7</h2>
<ul>
    <li>Updated to SAP Version 0.28.20-130 BETA</li>
    <ul>
        <li>Changed pets so they all move forward after start of battle abilities.</li>
    </ul>
</ul>
<h2>v0.4.8</h2>
<ul>
    <li>Fixed a bug with Fly attempting to spawn Zombie Fly when there is no room.</li>
</ul>

<h2>v0.4.9</h2>
<ul>
    <li>Info/Guide modal.</li>
</ul>