<form [formGroup]="formGroup">
    <div class="row mb-4">
        <div class="col-12">
            <label for="name" class="form-label">Pack Name</label>
            <input class="form-control" id="name" formControlName="name">
            <div class="invalid" *ngIf="formGroup.get('name').errors?.forbiddenName">
                That name is not allowed.
            </div>
        </div>
    </div>
    
    <div class="row mb-4" [formGroup]="getCheckboxFormGroup(1)">
        <div class="col-12">
            <h3>Tier 1 Pets <span [class]="getCount(1) == 10 ? 'valid' : 'invalid'">{{getCount(1)}}/10</span></h3>
            <div class="row">
                <div class="col-12 editor-grid">
                    <div class="form-check" *ngFor="let pet of getPets(1)">
                        <input class="form-check-input" type="checkbox" value="" [id]="pet" [formControlName]="pet">
                        <label class="form-check-label pet-label" [for]="pet">
                          <img
                            class="pet-icon"
                            [src]="getPetIcon(pet)"
                            [alt]="pet + ' icon'"
                            (error)="handlePetIconError($event)"
                          />
                          {{pet}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4" [formGroup]="getCheckboxFormGroup(2)">
        <div class="col-12">
            <h3>Tier 2 Pets <span [class]="getCount(2) == 10 ? 'valid' : 'invalid'">{{getCount(2)}}/10</span></h3>
            <div class="row">
                <div class="col-12 editor-grid">
                    <div class="form-check" *ngFor="let pet of getPets(2)">
                        <input class="form-check-input" type="checkbox" value="" [id]="pet" [formControlName]="pet">
                        <label class="form-check-label pet-label" [for]="pet">
                          <img
                            class="pet-icon"
                            [src]="getPetIcon(pet)"
                            [alt]="pet + ' icon'"
                            (error)="handlePetIconError($event)"
                          />
                          {{pet}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4" [formGroup]="getCheckboxFormGroup(3)">
        <div class="col-12">
            <h3>Tier 3 Pets <span [class]="getCount(3) == 10 ? 'valid' : 'invalid'">{{getCount(3)}}/10</span></h3>
            <div class="row">
                <div class="col-12 editor-grid">
                    <div class="form-check" *ngFor="let pet of getPets(3)">
                        <input class="form-check-input" type="checkbox" value="" [id]="pet" [formControlName]="pet">
                        <label class="form-check-label pet-label" [for]="pet">
                          <img
                            class="pet-icon"
                            [src]="getPetIcon(pet)"
                            [alt]="pet + ' icon'"
                            (error)="handlePetIconError($event)"
                          />
                          {{pet}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4" [formGroup]="getCheckboxFormGroup(4)">
        <div class="col-12">
            <h3>Tier 4 Pets <span [class]="getCount(4) == 10 ? 'valid' : 'invalid'">{{getCount(4)}}/10</span></h3>
            <div class="row">
                <div class="col-12 editor-grid">
                    <div class="form-check" *ngFor="let pet of getPets(4)">
                        <input class="form-check-input" type="checkbox" value="" [id]="pet" [formControlName]="pet">
                        <label class="form-check-label pet-label" [for]="pet">
                          <img
                            class="pet-icon"
                            [src]="getPetIcon(pet)"
                            [alt]="pet + ' icon'"
                            (error)="handlePetIconError($event)"
                          />
                          {{pet}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4" [formGroup]="getCheckboxFormGroup(5)">
        <div class="col-12">
            <h3>Tier 5 Pets <span [class]="getCount(5) == 10 ? 'valid' : 'invalid'">{{getCount(5)}}/10</span></h3>
            <div class="row">
                <div class="col-12 editor-grid">
                    <div class="form-check" *ngFor="let pet of getPets(5)">
                        <input class="form-check-input" type="checkbox" value="" [id]="pet" [formControlName]="pet">
                        <label class="form-check-label pet-label" [for]="pet">
                          <img
                            class="pet-icon"
                            [src]="getPetIcon(pet)"
                            [alt]="pet + ' icon'"
                            (error)="handlePetIconError($event)"
                          />
                          {{pet}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4" [formGroup]="getCheckboxFormGroup(6)">
        <div class="col-12">
            <h3>Tier 6 Pets <span [class]="getCount(6) == 10 ? 'valid' : 'invalid'">{{getCount(6)}}/10</span></h3>
            <div class="row">
                <div class="col-12 editor-grid">
                    <div class="form-check" *ngFor="let pet of getPets(6)">
                        <input class="form-check-input" type="checkbox" value="" [id]="pet" [formControlName]="pet">
                        <label class="form-check-label pet-label" [for]="pet">
                          <img
                            class="pet-icon"
                            [src]="getPetIcon(pet)"
                            [alt]="pet + ' icon'"
                            (error)="handlePetIconError($event)"
                          />
                          {{pet}}
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary me-2" (click)="submit()" [disabled]="submitDisabled()">Submit Pack</button>
            <button class="btn btn-danger" (click)="cancel()">Cancel</button>
            <div *ngIf="submitDisabled()" class="invalid">
                Name is required.
            </div>
        </div>
    </div>
</form>
