<div class="row" *ngIf="focusedGroup != null">
    <div class="col-12">
        <app-custom-pack-form
            [formGroup]="makeFormGroup(focusedGroup)"
            [petPackMap]="petPackMap"
            (submitEvent)="submitEvent($event)"
            (cancelEvent)="cancelEvent($event)"
        ></app-custom-pack-form>
    </div>
</div>

<div *ngIf="focusedGroup == null">
    <div class="row mb-3">
        <div class="col-12">
            <h3>Custom Packs</h3>
            <table>
                <tr *ngFor="let pack of customPacks.controls">
                    <td class="text">{{pack.get('name').value}}</td>
                    <td class="text"><span *ngIf="pack.valid" class="valid">Valid</span>
                        <span *ngIf="!pack.valid" class="invalid">Invalid</span></td>
                    <td><button class="btn btn-primary" (click)="editPack(pack)">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="deletePack(pack)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-primary" (click)="createNewPack()">Create New Pack</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3>Import Custom Pack</h3>
            <div class="form-group" [formGroup]="importFormGroup">
                <textarea class="form-control" id="code" rows="3" formControlName="code"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" (click)="importCustomPack()">Import</button>
        </div>
    </div>

    
</div>
