.app-wrapper {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.player-card {
    background-color: #e9c137;
}

.battle-row {
    background-color: #5ebe09;
}

.button-bar, .battle-controller {
    background-color: whitesmoke;
}

.battle-controller .min-w-input {
    min-width: 100px;
}

.stats {
    label {
        margin-right: .25em;
    }
    span {
        margin-right: 1em;
    }
}

.battle-no {
    width: 1%;
    white-space: nowrap;
}

.table-battle-row {
    cursor: pointer;
}

.results-bar, .draw-bar, .lose-bar {
    display: inline-block;
}

.draw-bar, .lose-bar {
    height: 100%;
    position: absolute;
    right: 0;
}

.results-bar {
    border: .2em solid black;
    height: 2em;
    width: 30em;
    background-color: lime;
    position: relative;
}

.draw-bar {
    background-color: lightgray;
}

.lose-bar {
    background-color: red;
}

.log-player {
    background-color: rgb(228, 255, 224);;
}

.log-opponent {
    background-color: rgb(255, 224, 224);
}

.log-container {
    display: flex;
    align-content: flex-start;
}

.random-event {
    color: purple;
    font-weight: 500;
}

.flex-1 {
    flex: 1;
}

.bottom-container {
    overflow: auto;
}

.scroll {
    overflow: scroll;
}

.h-100 {
    height: 100%;
}

.pre {
    white-space: pre;
}