<div class="container-fluid app-wrapper flex-col" [formGroup]="formGroup" #container>
  <div class="row mt-2">
    <div class="col-12 header">
      <div class="d-flex align-items-end">
        <h1 (click)="printFormGroup()">SAP Calculator</h1>
        <span data-bs-toggle="modal" data-bs-target="#info" class="btn-link info-link">Info/Guide</span>
      </div>
      <div class="d-flex flex-column align-items-end">
        <span>Version: {{version}} <span data-bs-toggle="modal" data-bs-target="#patchNotes" class="btn-link">Patch Notes</span></span>
        <span>SAP Version: {{sapVersion}}</span>
      </div>
    </div>
  </div>

  <div class="row battle-controller border">
    <div class="col-12 d-flex justify-content-between py-2">
      <div class="d-flex flex-wrap">
        <div class="form-group min-w-input me-3">
          <label for="playerPack">Player Pack</label>
          <select class="form-control" id="playerPack" formControlName="playerPack">
            <option value="Turtle">Turtle</option>
            <option value="Puppy">Puppy</option>
            <option value="Star">Star</option>
            <option value="Golden">Golden</option>
            <optgroup label="Custom Packs">
              <option [value]="custom.get('name').value" *ngFor="let custom of validCustomPacks">{{custom.get('name').value}}</option>
              <option value="Add Custom Pack">Add Custom Pack</option>
            </optgroup>
          </select>
        </div>
  
        <div class="form-group min-w-input pe-3 border-end">
          <label for="playerPack">Opponent Pack</label>
          <select class="form-control" id="opponentPack" formControlName="opponentPack">
            <option value="Turtle">Turtle</option>
            <option value="Puppy">Puppy</option>
            <option value="Star">Star</option>
            <option value="Golden">Golden</option>
            <optgroup label="Custom Packs">
              <option [value]="custom.get('name').value" *ngFor="let custom of validCustomPacks">{{custom.get('name').value}}</option>
              <option value="Add Custom Pack">Add Custom Pack</option>
            </optgroup>
          </select>
        </div>
  
        <div class="border-end d-flex pe-3">
          <div class="form-group small-w-input ms-3">
            <label for="turn">Turn</label>
            <input class="form-control" id="turn" type="number" formControlName="turn" max="99"/>
          </div>
    
          <div class="form-group small-w-input ms-3">
            <label for="playerGoldSpent" title="Player Gold Spent">PGS</label>
            <input class="form-control" id="turn" type="number" formControlName="playerGoldSpent" max="99"/>
          </div>
    
          <div class="form-group small-w-input ms-3">
            <label for="opponentGoldSpent" title="Opponent Gold Spent">OGS</label>
            <input class="form-control" id="turn" type="number" formControlName="opponentGoldSpent" max="99"/>
          </div>
        </div>
  
  
        <div class="form-group min-w-input mx-3">
          <label for="playerPack">Player Toy</label>
          <select class="form-control" id="playerToy" formControlName="playerToy">
            <option [ngValue]="null">None</option>
            <optgroup [label]="'Tier ' + toyGroup.key" *ngFor="let toyGroup of toys | keyvalue">
                <option *ngFor="let toy of toyGroup.value" [ngValue]="toy">{{toy}}</option>
            </optgroup>
          </select>
        </div>
  
        <div class="form-group me-3">
          <label for="playerToyLevel">Toy Level</label>
          <select class="form-control" id="playerToyLevel" formControlName="playerToyLevel">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
  
        <div class="form-group min-w-input me-3">
          <label for="playerPack">Opponent Toy</label>
          <select class="form-control" id="opponentToy" formControlName="opponentToy">
            <option [ngValue]="null">None</option>
            <optgroup [label]="'Tier ' + toyGroup.key" *ngFor="let toyGroup of toys | keyvalue">
                <option *ngFor="let toy of toyGroup.value" [ngValue]="toy">{{toy}}</option>
            </optgroup>
          </select>
        </div>
  
        <div class="form-group pe-3 border-end">
          <label for="opponentToyLevel">Toy Level</label>
          <select class="form-control" id="opponentToyLevel" formControlName="opponentToyLevel">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>

        <div class="flex-column">
          <div class="form-check ms-3" title="Opponent's pack pets are included in the pet pool.">
            <input class="form-check-input" type="checkbox" value="" id="angler" formControlName="angler">
            <label class="form-check-label" for="angler" >
              Angler
            </label>
          </div>
  
          <div class="form-check ms-3" title="All pets are included in the pet pool.">
            <input class="form-check-input" type="checkbox" value="" id="allPets" formControlName="allPets">
            <label class="form-check-label" for="allPets" >
              All Pets
            </label>
          </div>
        </div>

        <div class="flex-column">
          
          <div class="form-check ms-3" title="Stork spawns with base stats.">
            <input class="form-check-input" type="checkbox" value="" id="oldStork" formControlName="oldStork">
            <label class="form-check-label" for="oldStork" >
              Old Stork
            </label>
          </div>
        </div>
  

      </div>
      
      <div class="flex-col zoom-container">
        <label for="zoom">Zoom</label>
        <div>
          <button class="btn btn-secondary me-2" (click)="zoomIn()">+</button>
          <button class="btn btn-secondary" (click)="zoomOut()">-</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row battle-row pb-5 pt-3">
    <div class="col-12 col-xl-6 px-4 mb-2 mb-xl-0">
      <div class="d-flex justify-content-between">
        <h2 class="me-4">Player</h2>
        <button class="btn btn-secondary mb-1" (click)="resetPlayer('player')">Reset</button>
      </div>
      <div class="card p-2 player-card">
        <div class="row row-cols-1 row-cols-md-5" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event, 'player')">
          <div class="col drag-container mb-2 mb-sm-0" *ngFor="let pet of getPlayerPetsFormArray() ; index as i" cdkDrag>
            <div class="drag-handle" cdkDragHandle>
              <svg fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
            <app-pet-selector 
              [pet]="player['pet' + (4 - i)]"
              [player]="player"
              [opponent]="opponent"
              [index]="4 - i"
              [formGroup]="makeFormGroup(pet)"
              [angler]="formGroup.get('angler').value"
              [allPets]="formGroup.get('allPets').value"
              [customPacks]="formGroup.get('customPacks')"
            ></app-pet-selector>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 px-4">
      <div class="d-flex justify-content-between">
        <h2 class="me-4">Opponent</h2>
        <button class="btn btn-secondary mb-1"(click)="resetPlayer('opponent')">Reset</button>
      </div>

      <div class="card p-2 player-card ml-auto">
        <div class="row row-cols-1 row-cols-md-5" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event, 'opponent')">
          <div class="col drag-container mb-2 mb-sm-0" *ngFor="let pet of getOpponentPetsFormArray() ; index as i" cdkDrag>
            <div class="drag-handle" cdkDragHandle>
              <svg fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
            <app-pet-selector
              [pet]="opponent['pet' + i]"
              [player]="opponent"
              [opponent]="player"
              [index]="i"
              [formGroup]="makeFormGroup(pet)"
              [angler]="formGroup.get('angler').value"
              [allPets]="formGroup.get('allPets').value"
              [customPacks]="formGroup.get('customPacks')"
            ></app-pet-selector>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="row button-bar pt-3 pb-1 border">
    <div class="col-12 d-flex justify-content-between">
      <div>
        <button class="btn btn-primary me-2 mb-2" (click)="simulate()">Simulate</button>
        <button class="btn btn-primary me-2 mb-2" (click)="randomize()">Randomize</button>
      </div>
      <div>
        <button class="btn btn-secondary me-2 mb-2" (click)="export()">Export Calculator</button>
        <button class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#import">Import Calculator</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="simulated">
    <div class="col-12 stats">
      <label>Player Wins:</label><span>{{playerWinner}} - {{winPercent}}%</span>
      <label>Opponent Wins:</label><span>{{opponentWinner}} - {{losePercent}}%</span>
      <label>Draws:</label><span>{{draw}} - {{drawPercent}}%</span>
    </div>

    <div class="col-12 py-2">
      <span class="results-bar">
        <span class="draw-bar" [style.width]="getDrawWidth()"></span>
        <span class="lose-bar" [style.width]="getLoseWidth()"></span>
      </span>
    </div>
  </div>

  <div class="row flex-1 bottom-container">
    <div class="col-12 col-md-6 border h-100 flex-col pe-0">
      <h3>Battles</h3>
      <div class="row">
        <div class="col-12">
          <label for="logFilter" class="form-label">Filter Battles By Winner</label>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio1" [value]="null">
            <label class="form-check-label" for="inlineRadio1">None</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio2" value="player">
            <label class="form-check-label" for="inlineRadio2">Player</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio3" value="opponent">
            <label class="form-check-label" for="inlineRadio3">Opponent</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio4" value="draw">
            <label class="form-check-label" for="inlineRadio4">Draw</label>
          </div>
        </div>
      </div>

      <div class="battle-container flex-1 scroll">
        <table class="table">
          <thead>
            <tr>
              <th class="battle-no">Battle No.</th>
              <th>Winner</th>
              <th>Random Events</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let battle of filteredBattles; index as i" (click)="setViewBattle(battle)" class="table-battle-row">
              <td>{{i}}</td>
              <td>{{battle.winner}}</td>
              <td class="pre">{{getRandomEvents(battle)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 col-md-6 border h-100 flex-col">
      <h3>Logs</h3>
      <div class="row log-container flex-1 scroll">
        <div class="col-12" *ngFor="let log of getViewBattleLogs()">
          <span [ngClass]="[getPlayerClass(log), log.randomEvent ? 'random-event' : '']">{{log.message}}</span>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="patchNotes" tabindex="-1" aria-labelledby="patchNotesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="patchNotesLabel">Patch Notes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-patch-notes></app-patch-notes>
      </div>
      <div class="modal-footer">
        <span class="btn-link" (click)="clearCache()">Clear Cache</span>
      </div>
    </div>
  </div>
</div>

<!-- Custom Pack -->
<div class="modal fade" id="customPackEditor" tabindex="-1" aria-labelledby="customPackEditorLabel" aria-hidden="true" #customPackEditor>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="customPackEditorLabel">Custom Pack Editor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-custom-pack-editor
          [formGroup]="formGroup"
        ></app-custom-pack-editor>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-info></app-info>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="import" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="importModalLabel">Import Calculator</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-import-calculator
          [importFunc]="import.bind(this)"
        ></app-import-calculator>
      </div>
    </div>
  </div>
</div>