<div class="container-fluid app-wrapper flex-col" [formGroup]="formGroup">
  <div class="row mt-2">
    <div class="col-12 header">
      <h1>SAP Calculator</h1>
      <span>Version: {{version}}</span>
    </div>
  </div>

  <div class="row battle-controller border">
    <div class="col-12 d-flex py-2">

      <div class="form-group min-w-input me-3">
        <label for="playerPack">Player Pack</label>
        <select class="form-control" id="playerPack" formControlName="playerPack">
          <option value="Turtle">Turtle</option>
          <option value="Puppy">Puppy</option>
        </select>
      </div>

      <div class="form-group min-w-input pe-3 border-end">
        <label for="playerPack">Opponent Pack</label>
        <select class="form-control" id="opponentPack" formControlName="opponentPack">
          <option value="Turtle">Turtle</option>
          <option value="Puppy">Puppy</option>
        </select>
      </div>

      <div class="form-group small-w-input ms-3 pe-3 border-end">
        <label for="turn">Turn</label>
        <input class="form-control" id="turn" type="number" formControlName="turn" max="99"/>
      </div>

      <div class="form-group min-w-input mx-3">
        <label for="playerPack">Player Toy</label>
        <select class="form-control" id="playerToy" formControlName="playerToy">
          <option [ngValue]="null">None</option>
          <optgroup [label]="'Tier ' + toyGroup.key" *ngFor="let toyGroup of toys | keyvalue">
              <option *ngFor="let toy of toyGroup.value" [ngValue]="toy">{{toy}}</option>
          </optgroup>
        </select>
      </div>

      <div class="form-group me-3">
        <label for="playerToyLevel">Toy Level</label>
        <select class="form-control" id="playerToyLevel" formControlName="playerToyLevel">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>

      <div class="form-group min-w-input me-3">
        <label for="playerPack">Opponent Toy</label>
        <select class="form-control" id="opponentToy" formControlName="opponentToy">
          <option [ngValue]="null">None</option>
          <optgroup [label]="'Tier ' + toyGroup.key" *ngFor="let toyGroup of toys | keyvalue">
              <option *ngFor="let toy of toyGroup.value" [ngValue]="toy">{{toy}}</option>
          </optgroup>
        </select>
      </div>

      <div class="form-group me-3">
        <label for="opponentToyLevel">Toy Level</label>
        <select class="form-control" id="opponentToyLevel" formControlName="opponentToyLevel">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row battle-row pb-5 pt-3">
    <div class="col-6 px-4">
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <h2 class="me-4">Player</h2>
          
        </div>
      </div>
      <div class="card p-2 player-card">
        <div class="row">
          <div class="col">
            <app-pet-selector
              [pet]="player.pet4"
              [player]="player"
              [index]="4"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet3"
              [player]="player"
              [index]="3"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet2"
              [player]="player"
              [index]="2"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet1"
              [player]="player"
              [index]="1"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet0"
              [player]="player"
              [index]="0"
            ></app-pet-selector>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 px-4">
      <h2 class="me-4">Opponent</h2>
      <div class="card p-2 player-card">
        <div class="row">
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet0"
              [player]="opponent"
              [index]="0"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet1"
              [player]="opponent"
              [index]="1"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet2"
              [player]="opponent"
              [index]="2"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet3"
              [player]="opponent"
              [index]="3"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet4"
              [player]="opponent"
              [index]="4"
            ></app-pet-selector>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="row button-bar py-3 border">
    <div class="col-12">
      <button class="btn btn-primary me-2" (click)="simulate()">Simulate</button>
      <button class="btn btn-primary me-2" (click)="randomize()">Randomize</button>
      <!-- <button class="btn btn-primary" *ngIf="!battleStarted" (click)="startBattle()">Start Single Battle</button> -->
      <button class="btn btn-primary" *ngIf="battleStarted" (click)="nextTurn()">Next Turn</button>
    </div>
  </div>

  <div class="row" *ngIf="simulated">
    <div class="col-12 stats">
      <label>Player Wins:</label><span>{{playerWinner}} - {{winPercent}}%</span>
      <label>Opponent Wins:</label><span>{{opponentWinner}} - {{losePercent}}%</span>
      <label>Draws:</label><span>{{draw}} - {{drawPercent}}%</span>
    </div>

    <div class="col-12 py-2">
      <span class="results-bar">
        <span class="draw-bar" [style.width]="getDrawWidth()"></span>
        <span class="lose-bar" [style.width]="getLoseWidth()"></span>
      </span>
    </div>
  </div>

  <div class="row flex-1 bottom-container">
    <div class="col-6 border h-100 flex-col">
      <h3>Battles</h3>
      <div class="row">
        <div class="col-12">
          <label for="logFilter" class="form-label">Filter Battles By Winner</label>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio1" [value]="null">
            <label class="form-check-label" for="inlineRadio1">None</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio2" value="player">
            <label class="form-check-label" for="inlineRadio2">Player</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio3" value="opponent">
            <label class="form-check-label" for="inlineRadio3">Opponent</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="logFilter" type="radio" name="logFilter" id="inlineRadio4" value="draw">
            <label class="form-check-label" for="inlineRadio4">Draw</label>
          </div>
        </div>
      </div>

      <div class="battle-container flex-1 scroll">
        <table class="table">
          <thead>
            <tr>
              <th class="battle-no">Battle No.</th>
              <th>Winner</th>
              <th>Random Events</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let battle of filteredBattles; index as i" (click)="setViewBattle(battle)" class="table-battle-row">
              <td>{{i}}</td>
              <td>{{battle.winner}}</td>
              <td class="pre">{{getRandomEvents(battle)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6 border h-100 flex-col">
      <h3>Logs</h3>
      <div class="row log-container flex-1 scroll">
        <div class="col-12" *ngFor="let log of getViewBattleLogs()">
          <span [ngClass]="[getPlayerClass(log), log.randomEvent ? 'random-event' : '']">{{log.message}}</span>
        </div>
      </div>
    </div>
  </div>

</div>