<div class="container-fluid app-wrapper flex-col">
  <div class="row mt-2">
    <div class="col-12">
      <h1>SAP Calculator</h1>
    </div>
  </div>

  <div class="row battle-row pb-5 pt-3">
    <div class="col-6 px-4">
      <h2>Player</h2>
      <div class="card p-2 player-card">
        <div class="row">
          <div class="col">
            <app-pet-selector
              [pet]="player.pet4"
              [player]="player"
              [index]="4"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet3"
              [player]="player"
              [index]="3"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet2"
              [player]="player"
              [index]="2"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet1"
              [player]="player"
              [index]="1"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="player.pet0"
              [player]="player"
              [index]="0"
            ></app-pet-selector>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 px-4">
      <h2>Opponent</h2>
      <div class="card p-2 player-card">
        <div class="row">
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet0"
              [player]="opponent"
              [index]="0"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet1"
              [player]="opponent"
              [index]="1"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet2"
              [player]="opponent"
              [index]="2"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet3"
              [player]="opponent"
              [index]="3"
            ></app-pet-selector>
          </div>
          <div class="col">
            <app-pet-selector
              [pet]="opponent.pet4"
              [player]="opponent"
              [index]="4"
            ></app-pet-selector>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="row button-bar py-3 border">
    <div class="col-12">
      <button class="btn btn-primary me-2" (click)="simulate()">Simulate</button>
      <!-- <button class="btn btn-primary" *ngIf="!battleStarted" (click)="startBattle()">Start Single Battle</button> -->
      <button class="btn btn-primary" *ngIf="battleStarted" (click)="nextTurn()">Next Turn</button>
    </div>
  </div>

  <div class="row" *ngIf="simulated">
    <div class="col-12 stats">
      <label>Player Wins:</label><span>{{playerWinner}} - {{winPercent}}%</span>
      <label>Opponent Wins:</label><span>{{opponentWinner}} - {{losePercent}}%</span>
      <label>Draws:</label><span>{{draw}} - {{drawPercent}}%</span>
    </div>

    <div class="col-12 py-2">
      <span class="results-bar">
        <span class="draw-bar" [style.width]="getDrawWidth()"></span>
        <span class="lose-bar" [style.width]="getLoseWidth()"></span>
      </span>
    </div>
  </div>

  <div class="row flex-1 bottom-container">
    <div class="col-6 border h-100 flex-col">
      <h3>Battles</h3>
      <div class="battle-container flex-1 scroll">
        <table class="table">
          <thead>
            <tr>
              <th class="battle-no">Battle No.</th>
              <th>Winner</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let battle of battles; index as i" (click)="setViewBattle(battle)" class="battle-row">
              <td>{{i}}</td>
              <td>{{battle.winner}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6 border h-100 flex-col">
      <h3>Logs</h3>
      <div class="row log-container flex-1 scroll">
        <div class="col-12" *ngFor="let log of getViewBattleLogs()">
          <span [ngClass]="[getPlayerClass(log), log.randomEvent ? 'random-event' : '']">{{log.message}}</span>
        </div>
      </div>
    </div>
  </div>

</div>