<div *ngIf="!reported">
    <p>
        A shareable link of the current calculator will automatically be sent to the developer. Please make sure the calculator is currently relevant to the bug you are reporting. Provide a description of the bug below. (Player should have won, pet's ability is wrong, etc.) Name is optional. Provide your Discord ID if you want me to follow up with you.
    </p>
    <div [ngClass]="['form-group', 'mb-3', submitted ? 'was-validated' : '']" [formGroup]="formGroup">
        <div class="mb-3">
            <label for="name">Name/Alias/Discord ID</label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" formControlName="description" required></textarea>
        </div>
    </div>
    
    <button class="btn btn-primary" (click)="submit()">Submit</button>
    
</div>

<div *ngIf="reported">
    <h1>Thank you for the bug report!</h1>
    <button class="btn btn-primary" (click)="back()">Report another bug :(</button>
</div>