<form [formGroup]="formGroup">
  <div class="row mb-4">
    <div class="col-12">
      <label for="name" class="form-label">Pack Name</label>
      <input class="form-control" id="name" formControlName="name" />
      <div class="invalid" *ngIf="formGroup.get('name').errors?.forbiddenName">
        That name is not allowed.
      </div>
    </div>
  </div>

  <div
    class="row mb-4"
    *ngFor="let tier of tiers"
    [formGroup]="getCheckboxFormGroup(tier)"
  >
    <div class="col-12">
      <h3>
        Tier {{ tier }} Pets
        <span [class]="getCount(tier) == 10 ? 'valid' : 'invalid'"
          >{{ getCount(tier) }}/10</span
        >
      </h3>
      <div class="row">
        <div class="col-12 editor-grid">
          <div
            class="form-check"
            *ngFor="let pet of getPets(tier); trackBy: trackByPetName"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              [id]="pet"
              [formControlName]="pet"
            />
            <label class="form-check-label pet-label" [for]="pet">
              <img
                class="pet-icon"
                [src]="getPetIcon(pet)"
                [alt]="pet + ' icon'"
                (error)="handlePetIconError($event)"
              />
              {{ pet }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary me-2"
        (click)="submit()"
        [disabled]="submitDisabled()"
      >
        Submit Pack
      </button>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
      <div *ngIf="submitDisabled()" class="invalid">Name is required.</div>
    </div>
  </div>
</form>
