<p>
    The SAP Calculator is an analysis tool that allows you to easily calculate the approximate odds of your team beating another team.
    The SAP Calculator simulates the defined battle 1000 times and determines the percentage of wins, draws and loses.
</p>

<p>
    <b>Disclaimer: The SAP Calculator is not an official tool of the game and is not affiliated with the game's developers. The SAP Calculator is a fan-made tool,
    and is not intended to replace the official game.</b>
</p>

<p>
    The SAP Calculator engine is based on the official game engine, but it may not be 100% accurate. It is pretty darn close though, and should be 
    completely accurate for nearly every possible battle.
</p>

<h1>Guide</h1>

<img src="./assets/info/pack.PNG" alt="pack">
<p>
    Select the pack that the player and opponent are using. This determines the pets that are aviailable to each player.
</p>

<img src="./assets/info/turn.PNG" alt="turn">
<ul>
    <li>Turn: The turn the battle takes place. This will affect pets such as the Stork, Eagle, and Stegosaurus.</li>
    <li>PGS - Player Gold Spent. Player gold spent the previous round. This will affect the Meerkat.</li>
    <li>OGS - Opponent Gold Spent. Same as above but for the Opponent player.</li>
</ul>

<img src="./assets/info/toy.PNG" alt="toy">
<p>
    Toy configuration.
</p>

<img src="./assets/info/angler.PNG" alt="angler">
<ul>
    <li>Angler Mode: The opposite player's pets are aviailable to be selected for each player.</li>
</ul>
<p>(More modes coming soon)</p>

<img src="./assets/info/zoom.PNG" alt="zoom">
<p>Adjust the zoom level of the application.</p>

<img src="./assets/info/board.PNG" alt="board">
<p>
    This is the board. The left side is the Player pets and the right side is the Opponent Pets. Each white box contains a pet and its' stats/equipment.
    The layout of the pets are identical to as they would be in battle.
    The right most Player pet is clashing with the left most Opponent pet.
</p>

<img src="./assets/info/pet.png" alt="pet">
<p>
    This is a pet.
</p>
<ul>
    <li>A: This select box is where you may choose the pet that will occupy this space.</li>
    <li>B: This select box is where you may choose the pet's equipment.</li>
    <li>C: These fields are where you may input the pet's stats. The gray field is attack and the red field is health.</li>
    <li>D: This component determines the amount of exp the pet has. A pet may have 0-5 exp denoted by the number of boxes highlighted.
        The numbers (1, 2, 3) on top of the exp bar signify the level of the pet. 0-2 exp is level 1, 3-4 exp is level 2, and 5 exp is level 3.
        The x on the right will clear the exp bar leaving the pet at level 1 with 0 exp.
    </li>
    <li>E: This is a drag and drop tool. Use this to reorder your pets.</li>
</ul>

<img src="/assets/info/simulate.PNG" alt="simulate">
<ul>
    <li>Simulate: Run the simulation.</li>
    <li>Randomize: Randomize the Player's and Opponents's pets and equipment.</li>
</ul>

<img src="/assets/info/outcome.PNG" alt="outcome">
<p>
    This is the outcome summary. It shows the number of wins, draws, and loses for the last simulation ran.
</p>

<img src="/assets/info/battles.PNG" alt="battles">
<p>
    This is the Battles table. It is a table of all the battles that were simulated. You may filter the table by the outcome of the battle.
</p>

<img src="/assets/info/logs.PNG" alt="logs">
<p>
    These are the logs of the last selected simulated battle. Logs that are highlighted green are logs from a pet on the Player's team
    and logs that are highlighted red are logs from a pet on the Opponent's team. Logs that are highlighted purple are random events.
    Note: Not everything is logged.
</p>